<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/framework7.min.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/my-app.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/flipclock.min.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/WebAudioRecorder.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery-ui.js') }}">
</script>
