<head>
    <title>Equilibrium Yada Yada</title>

    {% include 'base/meta.jinja.html' %}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/framework7.ios.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/framework7.ios.colors.min.css') }}">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/my-app.css') }}">

</head>
