<head>
    <title>Equilibrium Yada Yada</title>

    {% include 'base/meta.jinja.html' %}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/framework7.ios.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/framework7.ios.colors.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/flipclock.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/my-app.css') }}">

</head>
