{% extends 'base/base.jinja.html' %}
{% block content %}

<!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal" style="background: white">
      <div class="content-block" style="text-align: center">
        <img src="{{ url_for('static', filename='img/logo.png') }}"
             class="logo "
             style="padding-top: 0 !important"/>
        <p>
          You are using YadaYada v0.01a.
        </p>
        <h2>Hey, <b>Catalyst</b>!</h2>
        <div class="list-block inset">
          <ul>
            <li>
              <a href="#" class="item-link list-button">My Profile</a>
            </li>
            <li>
              <a href="#" class="item-link list-button">My Public Yadas</a>
            </li>
            <li>
              <a href="#" class="item-link list-button">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Views -->

    <div class="popup popup-about">
      <div class="content-block">
        <div class="row no-gutter pushtop">
          <div class="col-10"></div>
          <div class="col-80">
            <h1 style="text-align: center" id="uploadTitle">
                <span style="width:42px; height:42px; margin-top: 20vh" class="preloader"></span><br />
                Uploading...
              </h1>

              <h3 id="uploadBody1">
                We are running your clip through our <b>neural net</b> now. How exciting!
              </h3>

              <h3 id="uploadBody2">
                How long this takes depends on your internet connection.
              </h3>

              <div class="row no-gutter hiddenEmoji" style="display: none; text-align: center">
                <h3>😄  <span id="happy"></span>%</h3>
                <h3>😢  <span id="sad"></span>%</h3>
                <h3>😐  <span id="neutral"></span>%</h3>
                <h3>😠  <span id="angry"></span>%</h3>
                <h3>😨  <span id="fear"></span>%</h3>
              </div>

              <div class="list-block inset hiddenEmoji" style="display: none">
                <ul>
                  <li>
                    <a href="#" class="item-link list-button" onclick="location.reload();">Discard</a>
                  </li>
                  <li>
                    <a href="#" class="item-link list-button">Edit</a>
                  </li>
                  <li>
                    <a href="#" class="item-link list-button">Listen</a>
                  </li>
                  <li>
                    <a href="#" class="item-link list-button" onclick="location.reload();">Finish</a>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-10"></div>
        </div>
      </div>
    </div>

    <div class="views">
      <div class="view view-main">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center sliding">Yada Yada iOS</div>
            <div class="right">
              <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
            <div class="page-content">
              <div class="row no-gutter pushtop">
                <div class="col-10"></div>
                <div class="col-80">
                  <img src="{{ url_for('static', filename='img/logo.png') }}"
                       class="logo "/>
                  <h1 style="text-align: center">
                    Speak your mind.
                  </h1>

                  <div id="time"></div>

                  <div class="centerblock" style="text-align: center; margin-top: 4vh">
                    <a href="#" onclick="record()">
                      <img id="recimg"
                           src="{{ url_for('static', filename='img/micoff.png') }}"
                           class="recorder" />
                    </a>
                    <a href="/community/">
                      <img id="comm"
                           src="{{ url_for('static', filename='img/profiles.png') }}"
                           class="recorder" />
                    </a>
                  </div>

                </div>
                <div class="col-10"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner">
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block extrascripts %}
<script>
  // Init clock.
  var timer = new Timer();
  var timelimit = 20; // in seconds
  var timeleft = timelimit;

  $( function() {
    $( "#time" ).progressbar({
      value: 0
    });
  });

  timer.on('tick', function() {
    timeleft = 100 - (100 * (timer.getDuration()) / (timelimit * 1000));

    $( function() {
      $( "#time" ).progressbar({
        value: timeleft
      });
    });
  });

  timer.on('end', function() {
    $( function() {
      // Time ran out.
      recorder.finishRecording();
      $("#recimg").attr('src', "static/img/micoff.png");

      $( "#time" ).progressbar({
        value: 100
      });

      myApp.popup('.popup-about');
    });
  });

  // Init audio recorder.
  var audioContext = new AudioContext;
  var microphone;

  if (audioContext.createScriptProcessor == null) {
    audioContext.createScriptProcessor = audioContext.createJavaScriptNode;
  }

  // Actually set up the recorder.

  var mixer = audioContext.createGain();
  var recorder;

  // obtaining microphone input
  function getMic() {
    if (microphone == null)
      navigator.getUserMedia({ audio: true },
        function(stream) {
          microphone = audioContext.createMediaStreamSource(stream);
          microphone.connect(mixer);

          recorder = new WebAudioRecorder(microphone, {
            'workerDir:': 'temp/',
          });

          mixer.gain.value = 0;
          mixer.connect(audioContext.destination);

          recorder.setEncoding("mp3");
          recorder.setOptions({
            'timelimit': 30,
            'encodeAfterRecord': true,
            'bufferSize': 16384,
          });

          recorder.onComplete = function(rec, blob) {
            saveRecording(blob, "mp3");
          };
        },
        function(error) {
          console.log("goofed.");
        });
  }

  getMic();

  function record() {
    if (recorder.isRecording()) {
      recorder.finishRecording();
      timer.pause();

      $( "#time" ).progressbar({
        value: 100
      });

      $("#recimg").attr('src', "static/img/micoff.png");

      myApp.popup('.popup-about');
    } else {
      recorder.startRecording();
      timer.start(timelimit);
      timeleft = timelimit;

      $("#recimg").attr('src', "static/img/micon.png");
    }
  }

  function saveRecording(blob, enc) {
    var fd = new FormData();
    fd.append('clip', blob);
    console.log(blob);

    $.ajax({
      type: 'POST',
      url: 'http://localhost:8000/recordings/',
      data: fd,
      processData: false,
      contentType: false,
      beforeSend: function (xhr) {
        xhr.setRequestHeader('Authorization',
                             "Basic " + btoa("paced:test_server")); // insec
      },
      success: function(res) {
        console.log(res);
        // myApp.closeModal('.popup-about');
        $("#uploadTitle").html("Uploaded!");
        $("#uploadBody1").html("We're done analysing your clip. As per our <a href='//example.com'>Privacy Policy</a>, we will never make your clips public without your consent.");
        $("#uploadBody2").html("We think you were discussing <i>" + res["categories"] + "</i>. You can always edit this if this is wrong.");

        $(".hiddenEmoji").css("display", "block");

        $("#happy").html(Math.round(parseFloat(res["happy"])));
        $("#sad").html(Math.round(parseFloat(res["sad"])));
        $("#neutral").html(Math.round(parseFloat(res["neutral"])));
        $("#fear").html(Math.round(parseFloat(res["fear"])));
        $("#angry").html(Math.round(parseFloat(res["angry"])));
      }
    });
  };

</script>
{% endblock %}
