{% extends 'base/base.jinja.html' %}
{% block content %}

<!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">

        <a href="about">About app</a>
      </div>
    </div>

    <!-- Views -->

    <div class="views">
      <div class="view view-main">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center sliding">Yada Yada iOS</div>
            <div class="right">
              <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
            <div class="page-content">
              <div class="row no-gutter pushtop">
                <div class="col-10"></div>
                <div class="col-80">
                  <img src="{{ url_for('static', filename='img/logo.png') }}"
                       class="logo "/>
                  <h1 style="text-align: center">
                    Speak your mind.
                  </h1>

                  <div id="time"></div>

                  <div class="centerblock" style="text-align: center; margin-top: 4vh">
                    <a href="#" onclick="record()">
                      <img id="recimg"
                           src="{{ url_for('static', filename='img/micoff.png') }}"
                           class="recorder" />
                    </a>
                  </div>

                </div>
                <div class="col-10"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner">
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block extrascripts %}
<script>
  // Init clock.
  var timer = new Timer();
  var timelimit = 20; // in seconds
  var timeleft = timelimit;

  $( function() {
    $( "#time" ).progressbar({
      value: 0
    });
  });

  timer.on('tick', function() {
    timeleft = 100 - (100 * (timer.getDuration()) / (timelimit * 1000));

    $( function() {
      $( "#time" ).progressbar({
        value: timeleft
      });
    });
  });

  timer.on('end', function() {
    $( function() {
      // Time ran out.
      recorder.finishRecording();
      $("#recimg").attr('src', "static/img/micoff.png");

      $( "#time" ).progressbar({
        value: 100
      });
    });
  });

  // Init audio recorder.
  var audioContext = new AudioContext;

  if (audioContext.createScriptProcessor == null) {
    audioContext.createScriptProcessor = audioContext.createJavaScriptNode;
  }

  // Actually set up the recorder.

  var mixer = audioContext.createGain();
  mixer.connect(audioContext.destination);

  var recorder = new WebAudioRecorder(mixer, {
    'workerDir:': 'temp/',
  });

  recorder.setEncoding("mp3");
  recorder.setOptions({
    'timelimit': 30,
    'encodeAfterRecord': true,
  });

  function record() {
    if (recorder.isRecording()) {
      recorder.finishRecording();
      timer.pause();

      $( "#time" ).progressbar({
        value: 100
      });

      $("#recimg").attr('src', "static/img/micoff.png");
    } else {
      recorder.startRecording();
      timer.start(timelimit);
      timeleft = timelimit;

      $("#recimg").attr('src', "static/img/micon.png");
    }
  }

  recorder.onComplete = function(rec, blob) {
    alert("Complete.");
  };

</script>
{% endblock %}
