{% extends 'base/base.jinja.html' %}
{% block content %}

<!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">

        <a href="about">About app</a>
      </div>
    </div>

    <!-- Views -->

    <div class="views">
      <div class="view view-main">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center sliding">Yada Yada iOS</div>
            <div class="right">
              <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
            <div class="page-content">
              <div class="row no-gutter pushtop">
                <div class="col-10"></div>
                <div class="col-80">
                  <div id="clock"
                       class="flipclock-center"></div>
                </div>
                <div class="col-10"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner">
            <!-- Toolbar links -->
            <a href="#" class="link">Link</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block extrascripts %}
<script>
  var clock = $('#clock').FlipClock(30, {
    'autoStart': false,
    'countdown': true,
    'clockFace': 'MinuteCounter',
    'minimumDigits': 2,
  });
</script>
{% endblock %}
